<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
              <h2>{{>header}} </h2>
        
             <h2>hbs {{title}} page content  </h2>
             <h2> The country is : {{country}} </h2>
             <h2> latitude is : {{latitude}} </h2>
             <h2> longitude is  : {{longitude}} </h2>
             <h2> current weather : {{current}} </h2>
             <h2> temperature  : {{temperature}} </h2>
             

      </body>
</html>